@model IEnumerable<ActividadesComplementarias.Models.Grupos>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Seleccione Grupo</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreGrupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maestro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inscritos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lugar)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.nombreGrupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maestro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inscritos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lugar)
        </td>
        
        <td>
            <a class="btn btn-success" onclick="inscribirme(@item.idGrupo, @Session["user.id"].ToString())"><b>Inscribirme</b></a> 
        </td>
    </tr>
}

</table>

<script>
    var x="";
    function inscribirme(id,stu) {
        $.post("/Grupos/Inscripcion/" + id, function (data) {
            x=data;
        }).done(function () {
            if (x == "success") {
                alert("Inscripción Correcta");
                location.href = "/ActividadCursada/Index/" + stu;
            }
        })
    }

</script>
