@model IEnumerable<ActividadesComplementarias.Models.Grupos>

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Seleccione Grupo</h2>
<div >
<table class="table ">
    <tr>
        <th class="col-md-1">
            Nombre Grupo
        </th>
        <th class="col-md-1">
            Maestro
        </th>
        <th class="col-md-1">
            Cupo
        </th>
        <th class="col-md-1">
            Inscritos
        </th>
        <th class="col-md-1">
            Horario
        </th>
        <th class="col-md-1">
            Lugar
        </th>
       
        <th class="col-md-1"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.nombreGrupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maestro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inscritos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lugar)
        </td>
        
        <td>
            <a class="btn btn-success" href="/Grupos/Inscripcion/@item.idGrupo"><b>Inscribirme</b></a> 
        </td>
    </tr>
}

</table>

</div>
