@model ActividadesComplementarias.Models.ActividadCursada

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-6 col-lg-offset-3">
    <h2>Inscripción</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.LabelFor(model => model.idAvtividadCursada)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idAvtividadCursada)
            @Html.ValidationMessageFor(model => model.idAvtividadCursada)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idActComplementaria, "ActividadComplementaria")
        </div>
        <div class="editor-field">
            <input class="text-box single-line" data-val="true" data-val-required="El campo actividad complementaria es obligatorio." id="idActComplementaria" name="idActComplementaria" type="text" value="@ViewBag.idActComplementaria">
            @Html.ValidationMessageFor(model => model.idActComplementaria)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idEstudiante, "Estudiante")
        </div>
        <div class="editor-field">
            <input class="text-box single-line" data-val="true" data-val-required="El campo actividad complementaria es obligatorio." id="idEstudiante" name="idEstudiante" type="text" value="@ViewBag.idEstudiante">
            @Html.ValidationMessageFor(model => model.idEstudiante)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estatusActividad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estatusActividad)
            @Html.ValidationMessageFor(model => model.estatusActividad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.periodo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.periodo)
            @Html.ValidationMessageFor(model => model.periodo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mestro, "Maestros")
        </div>
        <div class="editor-field">
            @Html.DropDownList("mestro", String.Empty)
            @Html.ValidationMessageFor(model => model.mestro)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
