@model ActividadesComplementarias.Models.ActividadCursada

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ActividadCursada</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idAvtividadCursada)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idAvtividadCursada)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActividadComplementaria.nombreActComplementaria)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActividadComplementaria.nombreActComplementaria)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Estudiante.nombreEstudiante)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estudiante.nombreEstudiante)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estatusActividad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estatusActividad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.periodo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.periodo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Maestros.nombreMaestro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Maestros.nombreMaestro)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
