@model IEnumerable<ActividadesComplementarias.Models.ActividadCursada>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-8 col-lg-offset-2">


    @{
        if (Session["user.tipo"].ToString() == "C")
        {<form method="get" style="margin-bottom:20px; text-align:center;">
            
             <h4>
                 <span>
                     Num. Control Estudiante

                     <input name="id" id="id" type="text" style="width:50%;" />
                 </span>
             </h4>
             <input class="btn-success" type="submit" value="Buscar" style="margin-top:15px; width:50%;" />
        </form>
        }

    }
    <table class="table table-bordered table-hover" >
        <tr>
            <th>
                <label>Folio</label>
            </th>
            <th>
                <label>Actividad Complementaria</label>
            </th>
            <th>
                <label>Num. Control</label>
            </th>
            <th>
                <label>Status</label>
            </th>
            <th>
                <label>Periodo</label>
            </th>
            <th>
                <label>Maestro</label>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.idAvtividadCursada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActividadComplementaria.nombreActComplementaria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idEstudiante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estatusActividad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.periodo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mestro)
                </td>
                <td>
                    @{
                        if(Session["User.Tipo"].ToString()=="J")
                        {
                            @Html.ActionLink("Acreditar", "Acreditar", new { id = item.idAvtividadCursada })<br />
                            <a href="/PDF/GenerarPdf/@item.idAvtividadCursada">Constancia</a>
                        }
                        if (Session["User.Tipo"].ToString() == "E" && @item.estatusActividad=="Cursando")
                        {
                            <a href="/PDF/GenerarPdfAcuse/@item.idAvtividadCursada">Acuse</a><br />
                        }
                    }
                </td>
            </tr>
        }

    </table>
</div>