@model ActividadesComplementarias.Models.Departamento

@{
    ViewBag.Title = "CAS - Editar Departamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Departamento</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <div class="editor-label">
            <label>ID Departamento</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idDepartamento)
            @Html.ValidationMessageFor(model => model.idDepartamento)
        </div>

        <div class="editor-label">
            <label>Nombre de Departamento</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombreDepartamento)
            @Html.ValidationMessageFor(model => model.nombreDepartamento)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
   
}

<div>
    @Html.ActionLink("Regresar a lista de Departamento", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
