@model ActividadesComplementarias.Models.Maestros

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Maestros</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idMaestro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idMaestro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombreMaestro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombreMaestro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Departamento.nombreDepartamento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Departamento.nombreDepartamento)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
