@model ActividadesComplementarias.Models.Maestros

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Maestros</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idMaestro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idMaestro)
            @Html.ValidationMessageFor(model => model.idMaestro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombreMaestro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombreMaestro)
            @Html.ValidationMessageFor(model => model.nombreMaestro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.departamentoMaestro, "Departamento")
        </div>
        <div class="editor-field">
            @Html.DropDownList("departamentoMaestro", String.Empty)
            @Html.ValidationMessageFor(model => model.departamentoMaestro)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
