@model ActividadesComplementarias.Models.ActividadComplementaria

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-6 col-lg-offset-3" >
    <h2>Agregar Actividad Complementaria</h2>
</div>
<div class="col-lg-4 col-lg-offset-4">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="editor-label">
            <label>Actividad Complementaria</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombreActComplementaria)
            @Html.ValidationMessageFor(model => model.nombreActComplementaria)
        </div>

        <div class="editor-label">
            <label>Descripción</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descripcion)
            @Html.ValidationMessageFor(model => model.descripcion)
        </div>

        <div class="editor-label">
            <label>Departamento</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("departamento", String.Empty)
            @Html.ValidationMessageFor(model => model.departamento)
        </div>

        <div class="editor-label">
            <label>Modalidad</label>
        </div>
        <select id="modalidad" name="modalidad">
            <option value="Congreso">Congreso</option>
            <option value="Tutorias">Tutorias</option>
            <option value="Extraescolar">Extraescolar</option>
            <option value="Otro">Otro</option>
        </select>

        <div class="editor-label">
            <label>No. Créditos</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.noCreditos)
            @Html.ValidationMessageFor(model => model.noCreditos)
        </div>

        


<div class="botones">
    <input class="btn-success" type="submit" value="Guardar" />
</div>

}
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
