@model ActividadesComplementarias.Models.ActividadComplementaria

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-4 col-lg-offset-4">
    <h2>Eliminar Actividad</h2>

    <h3>¿Seguro que desea aliminar la actividad?</h3>

        <div class="display-label">
            <label>Clave Actividad Complementaria</label>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.idActividadComplementaria)
        </div>

        <div class="display-label">
            <label>Nombre Actividad</label>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.nombreActComplementaria)
        </div>

        <div class="display-label">
            <label>Descripción</label>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.descripcion)
        </div>

        <div class="display-label">
            <label>Carrera</label>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Carrera1.nombreCarrera)
        </div>

        <div class="display-label">
            <label>Modalidad</label>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.modalidad)
        </div>

        <div class="display-label">
            <label>No. Créditos</label>
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.noCreditos)
        </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="botones">
            <input class="btn-success" type="submit" value="Eliminar" /> 
        </div>
    }
</div>