@model IEnumerable<ActividadesComplementarias.Models.ActividadCursada>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-8 col-lg-offset-2">
    <h2>@ViewBag.Actividad</h2>
    <div id="agregar">
        <span><a href="/Estudiante/Create" class="addNew"><span class="glyphicon glyphicon-plus"></span></a> <b>  Agregar Nuevo</b></span>
    </div>
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                <label>Numero de Control</label>
            </th>
            <th>
                <label>Nombre</label>
            </th>
            <th>
                <label>Carrera</label>
            </th>
            <th>
                <label>No. de Créditos</label>
            </th>
            <th>
                <label>Periodo</label>
            </th>
            <th>Status</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.idEstudiante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estudiante.nombreEstudiante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estudiante.Carrera1.nombreCarrera)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Estudiante.creditosComplementarios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.periodo)
                </td>
                <td>@Html.DisplayFor(modelItem => item.estatusActividad)</td>
                <td>
                    @{
                            if (Session["User.Tipo"].ToString() == "J" || Session["User.Tipo"].ToString() == "X")
                            {
                                if (@item.estatusActividad == "Cursando")
                                {
                                    @Html.ActionLink("Acreditar", "Acreditar", new { id = item.idAvtividadCursada })

                                }
                            }
                    }
                </td>



            </tr>
        }

    </table>
</div>