@model IEnumerable<ActividadesComplementarias.Models.ActividadCursada>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #agregar {
    margin-bottom:30px;
    }
</style>
<div class="col-lg-8 col-lg-offset-2">
    <h2>@ViewBag.Actividad</h2>
    <div id="agregar">
            
        @{
            if(Session["user.tipo"].ToString() == "J")
            {
                <form>
                    <div class="col-lg-4">
                        @Html.DropDownList("periodoFiltro", (IEnumerable<SelectListItem>)ViewBag.periodo)
                    </div>
                    <div class="col-lg-1"><button class="btn btn-primary" type="submit">Filtrar</button></div>

                </form>
            }
        }
        <div class="col-lg-3 col-lg-offset-1">
            <label id="idActCompl" hidden>@ViewBag.idActCompl</label>
            <div class="btn-group">
                <button type="button" class="btn  btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="glyphicon glyphicon-print"></i>Imprimir
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" id="btnPDF" onclick="printList('PDF')">Lista Asistencia</a></li>
                    <li><a href="" onclick="printListAcreditados('PDF')">Lista estudiantes acreditados</a></li>
                    <li><a href="" onclick="printListAcreditadosCola('PDF')">Constancia Acreditados</a></li>
                </ul>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                <label>Numero de Control</label>
            </th>
            <th>
                <label>Nombre</label>
            </th>
            <th>
                <label>Carrera</label>
            </th>
            <th>
                <label>No. de Créditos</label>
            </th>
            <th>
                <label>Periodo</label>
            </th>
            <th>status</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.idEstudiante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estudiante.nombreEstudiante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estudiante.Carrera1.nombreCarrera)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Estudiante.creditosComplementarios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.periodo)
                </td>
                <td>@Html.DisplayFor(modelItem => item.estatusActividad)</td>
                <td>
                    @{
            if (Session["User.Tipo"].ToString() == "J" || Session["User.Tipo"].ToString() == "X" || Session["User.Tipo"].ToString() == "D")
                            {
                                if (@item.estatusActividad == "Cursando")
                                {
                                    @Html.ActionLink("Acreditar", "Acreditar", new { id = item.idAvtividadCursada })
                                }
                                <a href="/PDF/GenerarPdf/@item.idAvtividadCursada" target="_blank">Constancia</a>
                            }
}
                </td>

            </tr>
        }

    </table>
</div>
<script src="~/Scripts/jquery-1.11.3.min.js"></script>
<script src="~/Content/js/bootstrap.js"></script>
<script>

    $('.dropdown-toggle').dropdown();

    function printList(ext) {
        var id = $('#idActCompl').text();
        var url = '/ActividadComplementaria/printListAsistencia/' + '?id=' + $('#idActCompl').text() + '&ext=' + ext + '&periodo=' + $("#periodoFiltro").val();
        window.open(url, "blank");
    }
    function printListAcreditados(ext) {
        var id = $('#idActCompl').text();
        var url = '/ActividadComplementaria/printReportList/' + '?id=' + $('#idActCompl').text() + '&ext=' + ext + '&periodo=' + $("#periodoFiltro").val();
        window.open(url, "blank");
    }
    function printListAcreditadosCola(ext) {
        var id = $('#idActCompl').text();
        var url = '/PDF/Cola/' + '?id=' + $('#idActCompl').text() +'&periodo=' + $("#periodoFiltro").val();
        window.open(url, "blank");
    }
</script>