@model ActividadesComplementarias.Models.Carrera

@{
    ViewBag.Title = "CAS - Crear Carrera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Nueva Carrera</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


        <div class="editor-label">
            <label>Clave Carrera</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idCarrera)
            @Html.ValidationMessageFor(model => model.idCarrera)
        </div>

        <div class="editor-label">
           <label>Carrera</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombreCarrera)
            @Html.ValidationMessageFor(model => model.nombreCarrera)
        </div>

        <p>
            <input type="submit" value="Crear" />
        </p>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
