<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav class="navbar navbar-inverse ">
            <div id="Logos" class="col-lg-12">
                <h1> <span><img src="~/Content/logoith.png" /></span><span> Instituto Tecnológico de Hermosillo</span></h1>
            </div>
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">ECAS LOGO</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                 @{
                         if (Session["user.tipo"].ToString() == "J") { 
                        <li role="presentation">@Html.ActionLink("Departamentos", "Index", "Departamento")</li>
                        <li role="presentation">@Html.ActionLink("Carreras", "Index", "Carrera")</li>
                        <li role="presentation">@Html.ActionLink("Estudiante", "Index", "Estudiante")</li>
                        <li role="presentation">@Html.ActionLink("Maestros", "Index", "Maestro")</li>
                        <li role="presentation">@Html.ActionLink("Actividad Complementaria", "Index", "ActividadComplementaria")</li>
 
                                <li role="presentation">@Html.ActionLink("Inscritos", "Index", "Inscripcion")</li>

                         }
                         else
                         {
                             if (Session["user.tipo"].ToString() == "C")
                             {
                                <li role="presentation">@Html.ActionLink("Historial Estudiante", "Index", "Inscripcion")</li>
                             }
                             else 
                             { 
                                <li role="presentation"><a href="/Inscripcion/Index/@Session["user.id"].ToString()">Mis actividades</a></li>
                                <li role="presentation"><a href="/Inscripcion/Actividades/@Session["user.id"].ToString()">Inscripciones</a></li>
                             }
                         }
                   }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!--DEBE SE UN DROPDOWN QUE TE PERMITA CERRAR SESION-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>@Session["uxid"].ToString()<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Cerrar Sesión", "Logout", "Cuenta")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div >
        <div class="col-lg-10 col-lg-offset-1" >
            @RenderBody() 
        </div>
    </div>
    <!----navbar-fixed-bottom //Posiblemente-->
    <div id="footer" class="col-lg-12 ">
        <p>ECAS Extra Curricular Activity System</p>
        <p>Copyright © 2015 Instituto Tecnológico de Hermosillo. Algunos derechos reservados.</p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false) 
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
