<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    @Html.ActionLink("Inicio","Index","Home") |
    @Html.ActionLink("Departamento", "IndexDepartamento", "Departamento") |
    @Html.ActionLink("Carrera", "Index", "Carrera")

    @RenderBody()

    @Html.ActionLink("Carrera", "Index", "Carrera")

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
