@model ActividadesComplementarias.Models.Estudiante

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Estudiante</legend>

        <div class="editor-label">
            <label>Numero de Control Estudiante</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idEstudiante)
            @Html.ValidationMessageFor(model => model.idEstudiante)
        </div>

        <div class="editor-label">
            <label>Nombre de Estudiante</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombreEstudiante)
            @Html.ValidationMessageFor(model => model.nombreEstudiante)
        </div>

        <div class="editor-label">
            <label>Carrera</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("carrera", "sin seleccionar")
            @Html.ValidationMessageFor(model => model.carrera)
        </div>

        <div class="editor-label">
            <label>Estatus estudiante</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estatusEstudiante)
            @Html.ValidationMessageFor(model => model.estatusEstudiante)
        </div>

        <!--numero de creditos complementarios-->

        <div class="editor-label">
            <label>Contraseña</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.contraseñaEstudiante)
            @Html.ValidationMessageFor(model => model.contraseñaEstudiante)
        </div>

        <!-- Salt de contraseña -->
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
