@model ActividadesComplementarias.Models.Estudiante

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Estudiante</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idEstudiante)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idEstudiante)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombreEstudiante)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombreEstudiante)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Carrera1.nombreCarrera)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Carrera1.nombreCarrera)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estatusEstudiante)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estatusEstudiante)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.creditosComplementarios)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creditosComplementarios)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
