@model ActividadesComplementarias.Models.Estudiante

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Estudiante</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idEstudiante)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idEstudiante)
            @Html.ValidationMessageFor(model => model.idEstudiante)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombreEstudiante)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombreEstudiante)
            @Html.ValidationMessageFor(model => model.nombreEstudiante)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.carrera, "Carrera1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("carrera", String.Empty)
            @Html.ValidationMessageFor(model => model.carrera)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.creditosComplementarios)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.creditosComplementarios)
            @Html.ValidationMessageFor(model => model.creditosComplementarios)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.contraseñaEstudiante)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.contraseñaEstudiante)
            @Html.ValidationMessageFor(model => model.contraseñaEstudiante)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.saltContraseña)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.saltContraseña)
            @Html.ValidationMessageFor(model => model.saltContraseña)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
