@model IEnumerable<ActividadesComplementarias.Models.Estudiante>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Estudiantes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            <label>Numero de Control</label>
        </th>
        <th>
            <label>Nombre</label>
        </th>
        <th>
            <label>Carrera</label>
        </th>
        <th>
            <label>Status</label>
        </th>
        <th>
            <label>Num de Créditos</label>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idEstudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreEstudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carrera1.nombreCarrera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatusEstudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creditosComplementarios)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idEstudiante }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idEstudiante })
        </td>
    </tr>
}

</table>
