@model ActividadesComplementarias.Models.Maestros

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<h2>Editar Mestro</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


        <div class="editor-label">
            <label>Clave Maestro</label>
        </div>
        <div class="editor-field">
            <input id="idMaestro" name="idMaestro" type="text" value="@Model.idMaestro" readonly>
            @Html.ValidationMessageFor(model => model.idMaestro)
        </div>

        <div class="editor-label">
            <label>Nombre Maestro</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombreMaestro)
            @Html.ValidationMessageFor(model => model.nombreMaestro)
        </div>

        <div class="editor-label">
            <label>Departamento</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("departamentoMaestro", String.Empty)
            @Html.ValidationMessageFor(model => model.departamentoMaestro)
        </div>

        <div class="editor-label">
            <label>Tipo</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("tipoMaestro", String.Empty)
            @Html.ValidationMessageFor(model => model.tipoMaestro)
        </div>
        <input id="contraseñaMaestro" name="contraseñaMaestro" value="@Model.contraseñaMaestro" hidden/>
        <input id="saltContraseña" name="saltContraseña" value="@Model.saltContraseña" hidden />



        <p>
            <input type="submit" value="Save" />
        </p>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
