@model IEnumerable<ActividadesComplementarias.Models.Maestros>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idMaestro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreMaestro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento.nombreDepartamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoMaestro1.tipoMaestro1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contraseñaMaestro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.saltContraseña)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idMaestro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreMaestro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento.nombreDepartamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoMaestro1.tipoMaestro1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contraseñaMaestro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saltContraseña)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
