@model IEnumerable<ActividadesComplementarias.Models.ActividadCursada>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-10 col-lg-offset-1">

 @{
     if (Session["user.tipo"].ToString() == "E")
     {
        <div class="col-lg-5">
            <label>Creditos Totales: </label>
            <label> @ViewBag.TotalCreditos </label>
        </div>
     }
}
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                <label>Actividad Complementaria</label>
            </th>
            <th>
                <label>Periodo</label>
            </th>
            <th><label>Créditos</label></th>
            <th>
                <label>Maestro</label>
            </th>
            <th>
                <label>Status</label>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.Grupos.ActividadComplementaria1.nombreActComplementaria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.periodo)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Grupos.ActividadComplementaria1.noCreditos)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grupos.Maestros.nombreMaestro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estatusActividad)
                </td>
                <td>
                    @{
            
                        if (Session["User.Tipo"].ToString() == "E" && @item.estatusActividad == "Acreditada")
                        {
                            <a href="" onclick="Print(@item.idAvtividadCursada)">Acuse</a><br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
</div>

<script>

    function Print(id) {
        var url = "/PDF/Acuse/" +  id ;
        window.open(url, "blank");
    }
</script>